body{
    background: #f8f9fa;
}
.bd-sidebar {
    border-right: 1px solid rgba(0, 0, 0, .1);

    /*background-color: whitesmoke;*/
    /*position: fixed;*/
    /*bottom: 0;*/
    /*width: 200px;*/
    /*height: 100%;*/
    /*line-height: 60px;*/

}

.bd-content {
    background: #f8f9fa;
    margin-bottom: 80px;
}

.table-wrapper {
    overflow: auto;
    height: 560px !important;
    width: 100%;
}

.navbar {
    position: static;
    /*margin-bottom: 30px;*/
}

.footer {
    border-top: 2px solid rgba(0, 0, 0, .1);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    /*line-height: 60px;*/
    background-color: #f8f9fa;
    /*margin-bottom:5px ;*/

}

div#mp3_player {
    width: 100%;
    height: 80px;
    background: #f8f9fa;
    /*margin: 1px 20px 1px 1px;*/
}
#clock{
    text-align: center;
    font-size: 30px;
    margin-top:0px;
}
#timer{
    /*border:1px solid;*/
    margin-top: 50px;
}
div#mp3_player > div > audio {
    width: 100%;
    background: rgba(248, 249, 250, 0.38);
    /*float: left;*/
}

div#mp3_player > canvas {
    width: 100%;
    height: 30px;
    background: #f8f9fa;
    /*float: left;*/
}

#playing {
    background: #f8f9fa;
    /*color:white;*/
}

#audio_box {
    background: #f8f9fa;
}

table {
    cursor: pointer;
    user-select: none;
}

td {
    font-size: 0.8em;
}

#timeline {
    font-size: 0.8em;
}

.cover {
    margin-top: 10px
}
